/* load the default Redmine stylesheet */
@import url(../../classic/stylesheets/application.css);

#top-menu a.all-tasks { background-image: url(../images/ticket.png); }
#top-menu a.gantt { background-image: url(../images/ticket_go.png); }
#top-menu a.calendar { background-image: url(../images/plugin.png); }
#top-menu a.files { background-image: url(../images/text_list_bullets.png); }
#top-menu a.boards { background-image: url(../images/comments.png); }
#top-menu a.buzz { background-image: url(../images/group.png); }

#top-menu a.all-tasks, #top-menu a.gantt, #top-menu a.calendar, #top-menu a.files, #top-menu a.boards, #top-menu a.buzz { 
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}


